img {
  width: 23px;
  height: 23px;
  vertical-align: middle;
  margin-right: 1rem;
}

.vizitka {
  display: flex;
  align-items: center;
  background-color: #fff6d6;
  border: 2px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 520px;
  height: 220px;
  gap: 20px;
}

h1,
h2 {
  margin: 0;
}
h1 {
  font-family: lora;
  font-style: italic;
  color: #3c2b21;
  margin-bottom: 0.25rem;
}

p {
  font-family: lora;
  font-weight: 400;
  font-size: 16px;
  color: #3c2b21;
  margin: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: lora;
  font-style: italic;
  font-size: 16px;
  color: #3c2b21;
  margin-bottom: 1.5rem;
}

.logo {
  width: 200px;
  height: 200px;
  margin-right: 5px;
  margin-left: -15px;
  object-fit: cover;
}
.info {
  flex: 1;
}
